body{
    background-color: black;
    color: white;
}

h1{
    color: rgba(121, 75, 39, 0.774);
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    color: rgba(121, 75, 39, 0.774);
}


#html{
    color: darkorange;
}

#css{
    color: aquamarine;
}

#javascript{
    color: gold;
}